@model IEnumerable<Sehin_versión2._0.Models.ActividadesEconomicas>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de actividades económicas</h2>

<p>
    @Html.ActionLink("Crear actividad", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nnombre actividad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
