@model IEnumerable<Sehin_versión2._0.Models.OrdenTrabajo>
@{
    /**/

    ViewBag.Title = "Index";
}
<br><br>
<div class="container" style="background-color:deepskyblue;opacity:.9;color: black">
    <br>

    <h2>Agenda</h2>
    <div id="calender"></div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                </div>
                <div class="modal-body">
                    <p id="pDetails"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />

    @section Scripts{
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
        <script src='~/Scripts/fullcalendar/locale/es.js'></script>
        <script src ='~/Scripts/jquery-3.3.1.min.js'></script>
		<script>
			$(document).ready(function () {
				var events = [];
				$.ajax({
					type: "GET",
					url: "/Calendario/GetEvents",
					success: function (data) {
						$.each(data, function (i, v) {
						events.push({
							title: v.descripcion,
							description: v.descripcion,
							start: moment(v.fechainicio),
							end: v.fechafin != null ? moment(v.fechafin) : null
							});
						})
						GenerateCalender(events);
					},
					error: function (error) {
						alert('Error al obtener Ordenes de Trabajo o Tareas');
					}
				})

				function GenerateCalender(events) {
					$('#calender').fullCalendar('destroy');
					$('#calender').fullCalendar({
						contentHeight: 400,
						defaultDate: new Date(),
						timeFormat: 'h(:mm)a',
						header: {
							left: 'prev,next today',
							center: 'title',
							right: 'month,basicWeek,basicDay,agenda'
						},
						eventLimit: true,
						eventColor: '#378006',
						events: events,
						eventClick: function (calEvent, jsEvent, view) {
							$('#eventTitle').html(calEvent.descripcion);
                            $('#pDetails').empty().html(calEvent.descripcion);
                            $('#myModal').appendTo("body").modal("toggle")
						}
					})
				}
			})
        </script>

    }
