<
<br><br>
<div class="container" style="background-color:orange;opacity:.9;color: black">
    <br>
    <h2>Galería de imágenes</h2>
    <hr />
    <link href="~/Scripts/fancy-box/jquery.fancybox.min.css" rel="stylesheet" />

    @Html.Action("_List")

    <script src="~/Scripts/fancy-box/jquery.fancybox.min.js"></script>
</div>