@model Sehin_versión2._0.Models.Servicio
@{
    ViewBag.Title = "Servicios";
}<br><br>
<div class="container" style="background-color:lime;opacity:.8;color: black">
    <br>

    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>

        <iframe frameborder="0" src=https://docs.google.com/spreadsheets/d/1fFb4mIOaSuBGCBPgzGbpUvhAoDfuyxUm5tsaANVj3uE/edit?usp =sharing"
                width="1024" height="768"></iframe>
    </p>
</div>

