@model Sehin_versión2._0.Models.Servicio
@{
    ViewBag.Title = "ServiciosExcel";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Use this area to provide additional information.

    <iframe frameborder="0" src=https://docs.google.com/spreadsheets/d/1fFb4mIOaSuBGCBPgzGbpUvhAoDfuyxUm5tsaANVj3uE/edit?usp =sharing"
            width="1024" height="768"></iframe>
</p>


