@{
    ViewBag.Title = "Home Page";
}
<br><br>
<div class="container" style="background-color:violet;opacity:.8;color: black">
    <br>

    <div class="jumbotron" style="background-color:black;opacity:.9;color:darkgoldenrod">
        <h1>Inicio</h1>
        <p class="lead" style="color:white">Información estadística sobre las empresas en seguimiento este mes</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saber más &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Comenzar</h2>
            <p>
                Módulo en desarrollo
            </p>
            <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saber más &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Próximamente</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301866">Saber más &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Ir a...</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saber más &raquo;</a></p>
        </div>
    </div>
    </div>
