@model Sehin_versión2._0.Models.MedidasPreventivas

@{
    ViewBag.Title = "Delete";
}

<br><br><br>

<h3>Estás seguro de borrar la medida preventiva?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal"></dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-success" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
