@model IEnumerable<Sehin_versión2._0.Models.MedidasPreventivas>

@{
    ViewBag.Title = "Index";
}
<br><br><br>
<h2>Listado de medidas preventivas</h2>

<p>
    @Html.ActionLink("Crear medida", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
